body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
body {
  margin: 0;
  padding: 0;
  /* Add padding-top equal to the height of the .navbar */
  padding-top: 60px;
}

.navbar {
  position: fixed;
  top: 0;
  height: 60px;
  width: 100%;
  background: white;
  left: 0;
  display: flex;
  align-items: center;
}

.navbar h1 {
  margin-left: 20px; /* Adjust according to your design */
}

.navbar a {
  margin-left: 20px; /* Adjust according to your design */
  text-decoration: none;
  color: black;
}
.title {
  margin-left: 30px;
}
.body {
  height: 2000px; /* Adjust according to your design */
}
img {
  margin: 20px;
  width: 100%;
  filter: brightness(0.5); /* Darkens the image */

}
.images {
  margin-left: 40px;
}
.more {
  align-content: center;
}
.welcome-banner{
  height: 1700px;
}
